
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: #fff;

}



body {
    min-height: 100vh;
    background-color: #1E1E1E;
}

nav {
   padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #2C2C2C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99999;
 
}

#menu-btn {
    margin-right: 30px;
}

#youtube-btn {
    display: flex;
    align-items: center;
}

#youtube-btn span {
    color: white;
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 4px;
}

#search {
    margin-left: 2em;
    width: 100%;
    -webkit-appearance: none;
    height: 100%;
    font-size: 1em;
    padding: 0.5em;
    border: 1px  #393939 solid;
    background-color: #111111;

}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;
    background-color: #393939;
  

}



.user-options {
    margin-left: 2em;
    display: flex;
    align-items: center;
}

.user-options .btn {
    margin-right: 1em;
}

#login-btn {
    height: 40px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    border: #3EA6FF 2px solid;
}

#login-btn span {
    font-size: 1.2em;
    color: #3EA6FF;
}

span {
    color: white;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
}

img {
    height: 24px;
    width: 24px;
}

main {
    margin-top: 60px;
    padding: 1em;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    grid-template-areas:  
    "video aside"
    "comments aside";
    column-gap: 1.5em;
}


.autoplay-container {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}



#autoplay-header {
    display: flex;
    align-items: center;

}

#up-next {
    flex: 1;
    font-size: 1.2em;
}

#autoplay-text {
    color: #aaa;
    font-size: 1em;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 38px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(66, 66, 66);
    margin-left: 10px;
}

.switch div {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3ea6ff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#autoplay-header {
    margin-bottom: 10px;
}

.thumbnail-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    text-decoration: none;
}

.thumbnail-img {
    position: relative;
}

.thumbnail {
    display: block;
    width: auto;
    height: 94px;
}

.thumbnail-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 100%;
    padding-right: 0.5em;
}

.thumbnail-btn {
    visibility: hidden;
    margin-left: auto;
    padding: 0.1em;
    background-color: black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbnail-overlay:hover > .thumbnail-btn {
    visibility: visible;
} 




.thumbnail-info {
    position: relative;
    margin-left: 10px;
    padding-right: 1em;
}

.thumbnail-title {
    font-size: 1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: auto;
    margin: 0 4rem 0.1rem 0;
}

.channel-name {
    display: flex;
    align-items: center;

}

.thumbnail-info span {
    color: #aaa;
    font-size: 0.9em;
    white-space: nowrap;
}


.channel-name img {
    margin-left: 5px;
    width: 14px;
}

.duration {
   margin-left: auto;
   background-color: black;
   padding-left: 0.2em;
   padding-right: 0.2em;
   border-radius: 2px;

}

.thumbnail-info-overlay {
    position: absolute;
    right: 0;
    visibility: hidden;
}

.thumbnail-container:hover > .thumbnail-info-overlay  {
    visibility: visible;
}


.video-container {
    position: relative;
    height: 0;  
    padding-top: 0px;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.video {
    grid-area: video;
}

aside {
    grid-area: aside;
}

.comments {
    grid-area: comments;
}


@media only screen and (max-width: 630px) {

    nav {
        padding-left: 1em;
        padding-right: 1em;
    }


    #menu-btn {
        margin-right: 15px;
    }


    .search-bar {
        width: 0%;
        flex-grow: 0;
        margin-right: 1em;
       
    }

    #search {
        width: 0%;
        margin: 0;
        visibility: hidden;
    }

    #search-btn  {
        
        background-color: #2C2C2C;
    }


  

}