
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: #fff;

}



body {
    min-height: 100vh;
    background-color: #1E1E1E;
}

nav {
   padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #2C2C2C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99999;
 
}

#menu-btn {
    margin-right: 30px;
}

#youtube-btn {
    display: flex;
    align-items: center;
}

#youtube-btn span {
    color: white;
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 4px;
}

#search {
    margin-left: 2em;
    width: 100%;
    -webkit-appearance: none;
    height: 100%;
    font-size: 1em;
    padding: 0.5em;
    border: 1px  #393939 solid;
    background-color: #111111;

}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;
    background-color: #393939;
  

}



.user-options {
    margin-left: 2em;
    display: flex;
    align-items: center;
}

.user-options .btn {
    margin-right: 1em;
}

#login-btn {
    height: 40px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    border: #3EA6FF 2px solid;
}

#login-btn span {
    font-size: 1.2em;
    color: #3EA6FF;
}

span {
    color: white;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
}

.btn img {
    height: 24px;
    width: 24px;
}

main {
    margin-top: 60px;
    padding: 1em;
    display: grid;


        grid-template-columns: minmax(500px, auto) 1fr;
        grid-template-rows: repeat(2, 1fr);
     


    grid-template-areas:  
    "video aside"
    "comments aside";
    column-gap: 1.5em;
}


.autoplay-container {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}



#autoplay-header {
    display: flex;
    align-items: center;

}

#up-next {
    flex: 1;
    font-size: 1.2em;
}

#autoplay-text {
    color: #aaa;
    font-size: 1em;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 38px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(66, 66, 66);
    margin-left: 10px;
}

.switch div {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3ea6ff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#autoplay-header {
    margin-bottom: 10px;
}

.thumbnail-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    text-decoration: none;
}

.thumbnail-img {
    position: relative;
}

.thumbnail {
    display: block;
    width: auto;
    height: 94px;
}

.thumbnail-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 100%;
    padding-right: 0.5em;
}

.thumbnail-btn {
    visibility: hidden;
    margin-left: auto;
    padding: 0.1em;
    background-color: black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbnail-overlay:hover > .thumbnail-btn {
    visibility: visible;
} 




.thumbnail-info {
    position: relative;
    margin-left: 10px;
    padding-right: 1em;
}

.thumbnail-title {
    font-size: 1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: auto;
    margin: 0 4rem 0.1rem 0;
}

.channel-name {
    display: flex;
    align-items: center;

}

 span {
    color: #aaa;
    font-size: 0.9em;
    white-space: nowrap;
}


.channel-name img {
    margin-left: 5px;
    width: 14px;
}


.channel-stats {
    margin-left: 10px;
}

.subscribe {
    margin-left: auto;
    padding: 0.5em 1em;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #bd0000;
}



.duration {
   margin-left: auto;
   background-color: black;
   padding-left: 0.2em;
   padding-right: 0.2em;
   border-radius: 2px;

}

.thumbnail-info-overlay {
    position: absolute;
    right: 0;
    visibility: hidden;
}

.thumbnail-container:hover > .thumbnail-info-overlay  {
    visibility: visible;
}


.video-container {
    position: relative;
    height: 0;  
    padding-top: 0px;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    margin-top: 15px;
}

.video-info h2 {
    font-size: 1.5em;
    font-weight: 300;
}

.video-primary-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}



.video-actions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em;
}

.video-actions img {
    height: 20px;
    width: 20px;
}

.like-dislike {
    display: flex;
   
}

.video-actions .btn {
    display: flex;
    margin-right: 15px;
}

.video-actions img {
    margin-right: 5px;
}

.more-info img {
    margin-right: 0;
    height: 24px;
    width: 24px;
}

.channel-info {
    display: flex;
    align-items: center;
    
}

.channel-logo img {
    width: 48px;
    border-radius: 50%;
}

.video-details {
    margin-top: 10px;
}

.video-description {
    margin-top: 1em;
    padding-left: 3.5em;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.category-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.category-box > .category {
    height: 100px;
    background-color: #161616;
    width: 48%;
    min-width: 200px;
    display: flex;
    
    
    
}

.category-box .general img {
    border-radius: 50%;
    height: 56px;
    margin-left: 10px;
    align-self: center;
}

.category-box .game img {
    height: 100%;
}


.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
}

.card-title {
    color: white;
    font-size: 1.1em;
}

.video span {
    white-space: normal;
}

.show-more {
    display: block;
    margin: 2em 0;
}

.comments-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.comments-amount {
    color: white;
    font-size: 1.1em;
}

.comments-info .btn {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.comments-info .btn img {
    margin-right: 5px;
}

.user-avatar {
    margin-right: 10px;
}

.user-name {
    color: white;

}

.comments-add {
    display: flex;
    margin-top: 20px;
}

.comments-input {
    flex-grow: 1;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    padding-bottom: 0;
    font-size: 1.1em;
   align-self: flex-start;
}

.comments-user {
    display: flex;
    margin-top: 30px;

}


.comment-data {
    margin-bottom: 10px;

}

.comment-controls {
    margin-top: 10px;
    display: flex;
}

.comment-controls .btn {
    display: flex;
    margin-right: 15px;
}


.comment-controls img {
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

.user-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.views-date {
    display: flex;
   align-items: center;
    padding-bottom: 0.5em;
}

.date {
    margin-left: 5px;
}


a {
    text-decoration: none;
    
}

.video {
    grid-area: video;
}

aside {
    grid-area: aside;
}

.comments {
    grid-area: comments;
}


@media only screen and (max-width: 1000px) {

    nav {
        padding-left: 1em;
        padding-right: 1em;
    }


    #menu-btn {
        margin-right: 15px;
    }


    .search-bar {
        width: 0%;
        flex-grow: 0;
        margin-right: 1em;
       
    }

    #search {
        width: 0%;
        margin: 0;
        visibility: hidden;
    }

    #search-btn  {
        
        background-color: #2C2C2C;
    }

    main {

  

        column-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:  
        "video"
        "aside"
        "comments";
        
    }

    .video-container {
        width: 90%;
        padding-bottom: 50.625%;
        margin: 0 auto;
        
    }

    .related {
        margin-top: 10px;
    }

    .category-box > .category { 
        margin-top: 20px;
        width: 70%;

    }

}


@media only screen and (max-width: 600px) {

    .date {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}